{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="ticker" placeholder="Ticker Symbol" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="nof_shares" placeholder="Number of Shares" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Buy</button>
    </form>

    <br></br>

    <img height="500px" src="https://i.imgflip.com/1t6gu1.jpg">
{% endblock %}