{% extends "doge/layout.html" %}
{% load static %}


{% block body %}
    


    <hr>
    <br>
    <div id="divv" class="text-center">
        <h1>
            Week 0<br>
            Stop #1
        </h1>
        <button class="enableEthereumButton">Enable Ethereum</button>

        <p>
            Week 0<br>
            Stop #1
        </p>
        <p>
            This is some text.
        </p>
        <p>
            This is some text.
        </p>
        <p>
            This is some text.
        </p>
        
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    <p>
        This is some text.
    </p>
    </div>
{% endblock %}

{% block script %}
    <!--<script src="{% static 'doge/app_copy.js' %}"></script>-->
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>

{% endblock %}